@import 'colors.less';

.app-root-2025-unctad16 .app {
  .h1-60s {
    color: #ED1847 !important;
    font-size: 5.375rem;
    font-weight: bolder;
  }
  .chevron {
    display: inline-block;
    height: 47px;
    margin-left: 10px;
    width: 47px;
    img {
      width: 100%;
    }
  }
  @media screen and (max-width: 47.9375rem) {
    .h1-60s {
      font-size: 4rem;
    }
    .chevron {
      height: 35px;
      width: 35px;
    }
  }
  @media screen and (max-width: 30rem) {
    .h1-60s {
      font-size: 3rem;
    }
    .chevron {
      height: 25px;
      width: 25px;
    }
  }
}

@import 'basics.less';